---
layout: archive
title: "Alumni"
permalink: /alumni/
author_profile: true
header: 
  caption: 
  cta_url:
  image: image
  overlay_color: #RRGGBB
  overlay_image: banner.jpeg
---

{% include base_path %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div>
  <h1>Alumni</h1><Hr>
    {% for post in site.members %}
      {% if post.type == "alumni" %}
        {% include archive-single-assistant.html %}
        {% include archive-single-alumni.html %}
      {% endif %}
    {% endfor %}
  <Br>
</div>
<Br>

