---
layout: archive
title: "members"
permalink: /members/
author_profile: true
header: 
  caption: 
  cta_url:
  image: image
  overlay_color: #RRGGBB
  overlay_image: banner.jpeg
---

{% include base_path %}

<div>
  <h1>Faculty</h1><Hr>
    {% for post in site.members %}
      {% if post.type == "faculty" %}
        {% include archive-single-faculty.html %}
      {% endif %}
    {% endfor %}
  <Br>
</div>
<Br>

<div>
  <h1>Administrative Assistant</h1><Hr>
    {% for post in site.members %}
      {% if post.type == "administrative assistant" %}
        {% include archive-single-assistant.html %}
      {% endif %}
    {% endfor %}
  <Br>
</div>
<Br>

<div>
  <h1>Full-Time Research Assistant</h1><Hr>
    {% for post in site.members %}
      {% if post.type == "full-time research assistant" %}
        {% include archive-single-assistant.html %}
      {% endif %}
    {% endfor %}
  <Br>
</div><Br>

<div>
  <h1>Part-Time Research  Assistant</h1><Hr>
    {% for post in site.members %}
      {% if post.type == "part-time research assistant" %}
        {% include archive-single-assistant.html %}
      {% endif %}
    {% endfor %}
  <Br>
</div><Br>
