---
title: "Members"
permalink: /members/
header: 
  caption: 
  cta_url:
  image: image
  overlay_color: #RRGGBB
  overlay_image: banner_2.jpg
---

{% include base_path %}

<section class="page__content">
  <h1>Faculty</h1><Hr>
    <div style="display: inline-block;">
      {% for post in site.members %}
        {% if post.type == "faculty" %}
          {% include archive-single-faculty.html %}
        {% endif %}
      {% endfor %}
    </div>
  <Br>
</section>
  
<section class="page__content">
  <h1>Administrative Assistant</h1><Hr>
    <div style="display: flex; flex-wrap: wrap;">
      {% for post in site.members %}
        {% if post.type == "administrative assistant" %}
          {% include archive-single-assistant.html %}
        {% endif %}
      {% endfor %}
    </div>
  <Br>
</section>

<section class="page__content">
  <h1>Full-Time Research Assistant</h1><Hr>
    <div style="display: flex; flex-wrap: wrap;">
      {% for post in site.members %}
        {% if post.type == "full-time research assistant" %}
          {% include archive-single-assistant.html %}
        {% endif %}
      {% endfor %}
    </div>
  <Br>
</section>

<section class="page__content">
  <h1>Part-Time Research  Assistant</h1><Hr>
    <div style="display: flex; flex-wrap: wrap;">
      {% for post in site.members %}
        {% if post.type == "part-time research assistant" %}
          {% include archive-single-assistant.html %}
        {% endif %}
      {% endfor %}
    </div>
  <Br>
</section>

