_site/
_posts/
_publications/
_portfolio
_talks/
_teaching/

_data/comments/

_pages/member.md
_pages/talks.html
_pages/talkmap.html
_pages/teaching.html
_pages/publications.md
_pages/portfolio_test.html

talkmap/
_includes/archive-single-talk.html

files/paper1.pdf
files/paper2.pdf
files/paper3.pdf